# Turso Database Configuration
TURSO_DATABASE_URL=libsql://daily-report-nuruzzamannahid.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODM1MzA4MzksImlkIjoiMDE5ZjMxZjMtN2UwMS03MjUyLWE1MzEtZWE2NTFjZDgzODZhIiwia2lkIjoiNjdVTW9VYWxZcE5Lck5aWHk2M3ZXT3B0RlJMQUptZldCZUxMX0t6dWtMbyIsInJpZCI6ImI2ZmMxNGNlLTlhZDMtNDZkMi05NjM0LTgxN2EzZWQxZDY4ZCJ9.HfbWKB0NRcMM0gq4GpwUVOtth12gp4rF_ONNxjciuka3xTPGL29w7N5xZWtM-Fxj01s5AApJpms9VukXEjsDAw

# Server Configuration
PORT=3000
NODE_ENV=development
